@font-face {
  font-family: 'Comfortaa';
  src: url('fonts/Comfortaa.ttf');
  font-weight: 1000;
}
@font-face {
  font-family: 'RussoOne';
  src: url('fonts/RussoOne.ttf');
  font-weight: 1000;
}
#root {
  max-width: 1200px;
  margin: auto;
}
body {
  font-family: 'Comfortaa';
}
.headerMainPage {
  width: 90%;
  margin: auto;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.iconsMainPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.iconsMainPage div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: gray;
  padding: 10px;
  color: white;
}
.icon_addMainPage {
  background: linear-gradient(
    45deg,
    var(--banner-color1) 0%,
    var(--banner-color2) 100%
  );
}
.buttonsMainPage {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: center;
  align-items: start;
  padding-top: 2px;
}
.button_centerMainPage {
  padding-top: 5px;
  padding-bottom: 5px;
}
.activeMainPage {
  height: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}
.login_buttonsMainPage {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.loginbutton_buttonsMainPage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  border: 1px solid;
  border-radius: 20px;
}
.signinbutton_buttonsMainPage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  background: linear-gradient(
    45deg,
    var(--banner-color1) 0%,
    var(--banner-color2) 100%
  );
  color: white;
  border-radius: 20px;
}
.bannerMainPage {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transition: 1s linear;
}
.arrowLeftMainPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  height: 200px;
  cursor: pointer;
}
.bannerContainerMainPage {
  background: linear-gradient(
    90deg,
    var(--banner-color1) 0%,
    var(--banner-color2) 100%
  );

  width: 90%;
}

.arrowRightMainPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  height: 200px;
  cursor: pointer;
}
.bannerContainerMainPage {
  background-color: gray;
  height: 200px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.leftSideBannerMainPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 3em;
  flex: 4;
  height: 200px;
}
.LaylaleftSideBannerMainPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 3em;
  flex: 4;
  height: 200px;
}
.headerLeftSideContainerPage {
  font-size: 72px;
  font-family: 'RussoOne';
  color: white;
}
.descriptionLeftSideContainerPage {
  font-size: 18px;
  color: var(--gray-color);
}
.rightSideBannerMainPage {
  flex: 6;
  height: 200px;
}
.imageInBannerMainPage img {
  max-width: 500px;
  max-height: 300px;
}
.imageInBannerMainPage {
  border-radius: 20px;
  bottom: 80px;
  right: -20px;
  height: 300px;

  position: relative;
  overflow: hidden;

  object-position: left center;
  pointer-events: none;
}
.imageInBannerMainPage img {
  position: absolute;
  right: -40px;
  bottom: 0px;
}
